body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem; /* 10px */
    background-color: #070707; /* Darker header background color */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Adjust parameters as needed */
}

.logo {
    background-image: url('images/sitefiles/140x75 logo transparent copy.png'); /* Update the path accordingly */
    background-size: contain; /* Adjust as needed */
    background-repeat: no-repeat;
    width: 8.75rem; /* 140px */
    height: 4.6875rem; /* 75px */
    text-indent: -9999px; /* Hide text content */
}

.play-now-btn {
    background-color: #61c005; /* Button color */
    color: #fff;
    text-shadow: 0.125rem 0.125rem 0.25rem #111111; /* 2px 2px 4px */
    padding: 0.625rem 0.9375rem; /* 10px 15px */
    border: none;
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.35s ease-in-out; /* Add background color transition (in secs) */
}

.play-now-btn:hover {
    background-color: #3e6f0b; /* Hover color */
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    margin: 0 0.6rem;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #9e4ef0; /* Hover color */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide overflow content */
}

#game {
    width: 100%;
    max-height: calc(100vh - 5.9375rem); /* Adjust for the header height */
    aspect-ratio: 16 / 9; /* Set the aspect ratio (adjust as needed) */
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

.bold-heading {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700; /* Ensure bold weight */
}

.heading-container {
    text-align: center;
    flex: 1; /* Take up remaining space */
}

.heading {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 6.3rem; /* Adjust the size as needed */
    color: #fff; /* Use your desired color */
    margin-bottom: 0.1rem; /* Adjust the margin-bottom to control the spacing */
    text-align: center;
    flex: 1; /* Take up remaining space */
}

.sub-heading {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 6rem; /* Adjust the size as needed */
    background: linear-gradient(to right, #cb59f2, #4b0082); /* Gradient with shades of purple */
    -webkit-background-clip: text;
    color: transparent;
    margin-top: -2.5rem; /* Adjust the margin-top to control the spacing */
    text-align: center;
    flex: 2; /* Take up remaining space */
}

.levitating-card {
    background-image: url('images/sitefiles/ace_clubs.png');
    background-size: cover;
    width: 150px;
    height: 200px;
    position: relative; /* Change from fixed to relative */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: rotate(-25deg);
    animation: levitate 3s ease-in-out infinite;
    top: 100px; /* Adjust the top position */
    right: 20%; /* Adjust the right position */
}

@keyframes levitate {
    0%, 100% {
        top: 150px; /* Initial position */
    }
    50% {
        top: 130px; /* Adjusted levitation height */
    }
}

#home {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-around;
    height: 100vh; /* Use the full height of the viewport */
}
